@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url('../fonts/Lato-Semibold.ttf');
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('../fonts/Lato-Thin.ttf');
}
